# Python bytecode files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (venv)
venv/
.env

# Django-specific
*db.sqlite3  # Ignore SQLite database (if using SQLite)
**/db.sqlite3
instance/
media/  
.DS_STORE

# Sample data
sample_data/
data_for_chroma/
turbo/db.sqlite3